<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <title>{{ blogtitle }}</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
</head>

<body class="home blog logged-in admin-bar">
  <div id="page">
    {% module Content('content-head', blogtitle = blogtitle, description = description, background = False) %}
    <div id="content">
      {% module Content(content_type, **kwargs) %}
    </div>
    {% module Content('sidebar') %}
    {% module Content('footbar', blogtitle = blogtitle) %}
  </div> 
</body>
</html>
